[submodule "scheduler/scx"]
	path = scheduler/scx
	url = https://github.com/sched-ext/scx/
[submodule "/home/yunwei37/ai-os/workloads/basic/schbench"]
	path = /home/yunwei37/ai-os/workloads/basic/schbench
	url = https://github.com/masoncl/schbench.git
[submodule "workloads/basic/schbench"]
	path = workloads/basic/schbench
	url = https://github.com/masoncl/schbench
[submodule "workloads/stress-ng"]
	path = workloads/basic/stress-ng
	url = https://github.com/ColinIanKing/stress-ng
[submodule "workloads/cachyos-benchmarker"]
	path = workloads/basic/cachyos-benchmarker
	url = https://github.com/CachyOS/cachyos-benchmarker
[submodule "workloads/redis/redis-src"]
	path = workloads/redis/redis-src
	url = https://github.com/redis/redis.git
[submodule "workloads/redis/memtier_benchmark"]
	path = workloads/redis/memtier_benchmark
	url = https://github.com/RedisLabs/memtier_benchmark.git
[submodule "workloads/nginx/nginx"]
	path = workloads/nginx/nginx
	url = https://github.com/nginx/nginx.git
[submodule "workloads/llama.cpp/llama.cpp"]
	path = workloads/llama.cpp/llama.cpp
	url = https://github.com/eunomia-bpf/llama.cpp
