*.o
*.bpf.skel.h
*.bpf.o
*.bpf.l1o
*.bpf.l2o
*.bpf.l3o
*.bpf.l4o
*.bpf.l5o
*.bpf.l6o
*.bpf.l7o
*.bpf.l8o
*.bpf.l9o
*.bpf.l10o
*.bpf.l11o
*.bpf.l12o
*.bpf.l13o
*.bpf.l14o
*.bpf.l15o
*.bpf.l16o
*.bpf.l17o
*.bpf.l18o
*.bpf.l19o
scx_simple
scx_cxl
runqslower
scx_simple_cxl_pmu

